*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #dac9df;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    z-index: 10000;
}

.logo{
    font-size: 2em;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.nav{
    background-color: aliceblue;
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 20;
    border-radius: 30px;
    transition: 0.4ms;
}

.nav-link{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    transition: 0.4s;
}

.nav-link:hover {
    background-color: #b695c0;
}

.redes{
    display: flex;
    gap: 20px;
}

.link-redes{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    transition: 0.4s;
}

.link-redes:hover {
    color: plum;
}

.menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: black;
    display: none;
}

/*inicio*/

.inicio{
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inicio-exposiciones{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.inicio-exposiciones h2{
    font-size: 3.5em;
    color: black;
    margin-bottom: 15px;
}

.inicio-exposiciones p{
    font-size: 1.2em;
    color: black;
    margin-bottom: 15px;
}

.inicio-imagenes{
    max-width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagen-img{
    position: relative;
    width: 300px;
    height: 450px;
    border: 2px solid #b695c0;
    background-color: white;
}

.imagen-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 15px;
}

.imagen-img:nth-child(1){
    top: 70px;
    left: 50px;
    z-index: 1;
}

/*inicio*/

/*nosotros*/

.nosotros{
    width: 100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nosotros-texto{
    position: relative;
    left: 70px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.nosotros-texto p{
    max-width: 600px;
    font-size: 1.1em;
    color: brown;
}

.nosotros-texto p span{
    font-weight: bolder;
}


footer{
    background-color: black;
    width: 100%;
    height: auto;
    padding: 80px;
    display: flex;
}

footer.logo{
    color: #dac9df;
}

address{
    width: 300px;
    color: white;
    font-size: 1.1em;
}

address a {
    text-decoration: none;
    color: white;
}

.enlaces{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.enlaces a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.4s;
    font-size: 1em;
}

.enlaces a:hover{
    color:grey;
}

/* Responsive*/

@media screen and (max-width: 1200px) {
    .nav {
        width: 400px;
    }

    .nav-link{
        font-size: 1em;
    }
    
    .imagen-img {
        width: 250px;
        height: 400px;
    }

    .nosotros{
        height: 500px;
    }

/*mobile*/

@media screen and (max-width: 400px){
    header{
        padding: 20px 20px;
    }
    .inicio{
        padding: 20px;
    }
    .imagen-img:nth-child(2){
        display: none;
    }
    .inicio-exposiciones{
        padding: 50px;
        gap: 50px;
    }
    .titulo{
        font-size: 3em;
    }
    .nosotros-texto{
        padding: 20px;
    }
    footer{
        flex-direction: column;
        padding: 40px 20px;
        gap: 50px;
    }
}


}